# Foto's en gegenereerde albums niet uploaden
output/
test.html

# Logs
*.log
html-album.log

# Python cache en omgevingen
__pycache__/
*.pyc
.venv/
venv/
env/

# OS specifieke bestanden
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
