SLIDES_DIR="slides"
THUMBS_DIR="thumbs"
EXCLUDED="res"
THUMBNAIL="450x450"
PICTURES="900x900"
SOURCE_DIR="Z:/WWW/domains/album.agrarix.net/pages/2026scot"
OUTPUT_DIR="Z:/WWW/domains/album.agrarix.net/pages/2026scot"
INDEX_FILE="index.html"
LOG_FILE="html-album.log"
COLUMNS="2"
ROWS="0"
