PICTURES_DIR="_pictures"
THUMBS_DIR="_thumbs"
EXCLUDED="res"
THUMBNAIL="450x450"
PICTURE="900x900"
SOURCE_DIR="Z:/WWW/domains/album.agrarix.net/pages/Huis van Agrarix"
OUTPUT_DIR="Z:/WWW/domains/album.agrarix.net/pages/Huis van Agrarix"
INDEX_FILE="index.html"
LOG_FILE="huis-van-agrarix.log"
COLUMNS="2"
ROWS="0"
